node_modules
*/build/
build/
*.ods#
*.fls
*.fdb_latexmk
*.aux
*.log
*.synctex.gz
/*/*.synctex.gz
/*.synctex.gz
*/*.out
.stack-work/
*/*.o
/*.o
/*.out
*.a
*.out
*.o
cycle
demand
reaper

